<div>
	<center><b><h1> Add Comment </h1></b></center>
	<hr>
	<%= form_for(@comment, url: create_comment_path(id: @task.id), validate: true, method: 'POST', :html => {:class => "form-horizontal", :autocomplete => "off", remote: true}) do |f| %>
<div class="row comment_section">
	<div class="col-sm-8">
		<%= f.text_field :comment, class: "form-control", placeholder: "Add Comment" %>
	</div>
	<div class="col-sm-4">
		<%= f.file_field :file_attachment, class: "form-control" %>
	</div>
</div>
<div class="actions comment_submit">
	<center><%= f.submit "Post", class: "btn btn-primary" %></center>
</div>
<% end %>
</div>