 @import "bootstrap";
 @import "font-awesome";
 @import "bootstrap-datepicker";
 /*
 *= require jquery-ui
 *= require bootstrap-datepicker
 */


.project_form {
	padding: 10px;
}

.pro_list {
	background: #e4e9f1;
}

.pro_list ul li {
	padding: 10px;
	list-style-type: none;
	font-size: 20px;
} 

.custom_icon {
	margin-right: 2%;
	font-size: 20px;
}

.task_field {
	padding: 10px;
}

.submit_field {
	margin-top: 10px;
}

.comment_section {
	padding: 10px;
}

.comment_submit {
	margin-bottom: 5px;
}

ul.task_comments li {
	list-style-type: circle;
}

.heading_class {
	text-align: left;
	background: #a1d0ac;
	padding: 20px;
}

.button_class a {
	margin-right: 10px;
}

.add_task{
	margin-top: 10px;
}