<div class="modal fade" id="new-main-lightbox-container" tabindex="-1" role="dialog" aria-labelledby="main-lightbox-container" aria-hidden="true">
  <div class="modal-dialog border-none">
    <div class="modal-content border-none" id="modal_content" style="width:750px;">
    </div>
  </div>
</div>